@charset "UTF-8";
/* CSS Document */
html,body{height: 100%; overflow: hidden; font-family: 'Roboto', sans-serif; font-weight: 300; color:#727070; font-size: 13px;}
.bk-app{background: url(../img/bk/bk-body.svg) bottom center no-repeat; background-size: contain;}
.page-scroll{height: 100%; width: calc(100% - 164px); padding-left: 16px; margin-left: 100px;}
.cont-sombra-redondeado{box-shadow: 0 0 16px rgba(0,0,0,.25); border-radius: 8px; overflow: hidden; background: rgba(255,255,255,.90)}

/************************************************************ SCROLL ************************************************************/
.simplebar-scrollbar::before {background: #b8b8b8 !important;}
.simplebar-track .simplebar-scrollbar.visible::before {opacity: 0.95 !important;}
.simplebar-scrollbar {width: 5px !important;}

/************************************************************ MENU ************************************************************/
.sidenav {height: 100%; width: 100px; position: fixed; z-index: 1; top: 0; left: 0; background-color: #fff; overflow-x: hidden; transition: 0.5s; text-align: center; box-shadow:0 0 6px rgba(0,0,0,.25); font-size: 13px;}
.cont-sidenav {padding: 16px;}
.cont-menu{height: calc(100% - 100px);}
.sidenav .cont-sidenav a {padding-top:30px;text-decoration: none; color: #707272; display: block; transition: 0.3s; background-repeat: no-repeat; background-size: 24px; background-position: center top; margin-bottom: 16px;}
.sidenav .cont-sidenav a:hover, .sidenav .cont-sidenav a:focus, .menu-seleccionado {color: #ff9333 !important;}
.opcion-extra{padding: 16px; position: absolute; bottom: 0; left: 0; width: 100%;}
.opcion-extra a{height: 30px; display: block; transition: 0.3s; background-repeat: no-repeat; background-size: 24px; background-position: center; margin-bottom: 16px;}
.opcion-extra a:hover{text-decoration: none;}
.men01{background-image: url(../img/icon/men-01.svg);}    .men01:hover, .seleccionado01{background-image: url(../img/icon/men-01a.svg);}
.men02{background-image: url(../img/icon/men-02.svg);}    .men02:hover, .seleccionado02{background-image: url(../img/icon/men-02a.svg);}
.men03{background-image: url(../img/icon/men-03.svg);}    .men03:hover, .seleccionado03{background-image: url(../img/icon/men-03a.svg);}
.men04{background-image: url(../img/icon/men-04.svg);}    .men04:hover, .seleccionado04{background-image: url(../img/icon/men-04a.svg);}
.men05{background-image: url(../img/icon/men-05.svg);}    .men05:hover, .seleccionado05{background-image: url(../img/icon/men-05a.svg);}
.men06{background-image: url(../img/icon/men-06.svg);}    .men06:hover, .seleccionado06{background-image: url(../img/icon/men-06a.svg);}
.men07{background-image: url(../img/icon/men-07.svg);}    .men07:hover, .seleccionado07{background-image: url(../img/icon/men-07a.svg);}
.men08{background-image: url(../img/icon/men-08.svg);}    .men08:hover, .seleccionado08{background-image: url(../img/icon/men-08a.svg);}
.men10{background-image: url(../img/icon/men-10.svg);}    .men10:hover, .seleccionado10{background-image: url(../img/icon/men-10a.svg);}
.men11{background-image: url(../img/icon/men-11.svg);}    .men11:hover, .seleccionado11{background-image: url(../img/icon/men-11a.svg);}
.men09{background-image: url(../img/icon/men-09.svg); background-size: 26px;}    .men09:hover, .seleccionado09{background-image: url(../img/icon/men-09a.svg);}
.btn-menu{font-size: 18px; cursor: pointer; left: 16px; top: 12px; position: absolute;}
.closebtn {position: absolute; top: 0; font-size: 36px; right: 0; line-height: 22px; color: #fff; background-color: #ff9333; padding: 0 4px 6px; text-decoration: none;}
.closebtn:hover,.closebtn:focus{color:#fff; text-decoration: none; opacity: .7;}
/************************************************************ MENU ************************************************************/


/************************************************************ REDES INDICADORES ************************************************************/
.side-redes {height: 100%; width: 48px; position: fixed; z-index: 1; top: 0; right: 0; overflow-x: hidden; transition: 0.5s; text-align: center; padding: 0 16px;}
.side-redes a{margin: 16px 0; display: block;}
.indicadores{position: absolute;bottom: 0; left: 50%; margin-left: -3px;}
.indicadores a{width: 6px; height: 6px; background:#b8b8b8; margin:20px 0 ; border-radius: 20px;}
.indicador-activo, .indicadores a:hover{background: #ff9333 !important;}
/************************************************************ REDES INDICADORES ************************************************************/


/************************************************************ TITULOS ************************************************************/
h2{font-size: 26px; color:#5c6bc0; font-weight: 400; margin-top: 20px; margin-bottom: 5px;}
h2 span{font-weight: 300;}
h3{font-size:16px; font-weight: 300; font-style: italic; margin: 0;}
.line-titulo{background: #5c6bc0; width: 100px; height: 2px; margin: 10px 0 0;}
/************************************************************ TITULOS ************************************************************/

/************************************************************ MARGENES ************************************************************/
.mt16{margin-top: 16px;}
.mt32{margin-top: 32px;}
.mb16{margin-bottom: 16px;}
.mb32{margin-bottom: 32px;}
/************************************************************ MARGENES ************************************************************/

/************************************************************ CALENDARIO ************************************************************/
.head-morado{background: #5c6bc0; color: #fff; overflow: hidden; padding: 16px 17px;}
.indicador-anio a{width: 10px; display: inline-block; vertical-align: middle;}
.indicador-anio a:hover, .indicador-anio a:focus{opacity: .75;}
.indicador-anio p{ display: inline-block; vertical-align: middle; font-size: 30px; margin: 0 4px; line-height: 34px;}
.filtrar-calendario{margin-top: 50px;}
.filtrar-calendario label{color:#2F3D6E; font-size: 12px; font-style: italic; font-weight: 400; padding-right: 5px;}
.filtrar-calendario > .dropdown > button {width: 80%; text-align: left; border-top: 0; border-right: 0; border-left: 0; border-radius: 0; border-color: #b8b8b8; color:#727070; font-weight: 300; font-size: 13px;}
.filtrar-calendario > .dropdown > button:hover, .filtrar-calendario btn-default:hover, .filtrar-calendario .btn-default:focus, .filtrar-calendario .btn-default.focus, .filtrar-calendario .btn-default:active, .filtrar-calendario .btn-default.active, .filtrar-calendario .open > .dropdown-toggle.btn-default {color: #727070; border-color: #b8b8b8;background: #ffffff; /* Old browsers */background: -moz-linear-gradient(top, #ffffff 42%, #f4f4f4 100%); /* FF3.6-15 */background: -webkit-linear-gradient(top, #ffffff 42%,#f4f4f4 100%); /* Chrome10-25,Safari5.1-6 */background: linear-gradient(to bottom, #ffffff 42%,#f4f4f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */}
.filtrar-calendario > .dropdown > button > span{float: right; margin-top: 8px;}
.filtrar-calendario > .dropdown > .dropdown-menu{right: 0; left:20%; color:#727070; font-weight: 300;  font-size: 13px;}
.filtrar-calendario > .dropdown > .dropdown-menu > li > a{color:#727070; font-weight: 300;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {color: #262626;background-color: rgba(224,233,255,0.5);}
.meses{padding: 0; border-bottom: 1px solid #b8b8b8; list-style: none; margin: 0;}
.meses li{float:left; width: 8.33%; text-align: center;}
.meses li a{color: #727070; border-bottom: 3px solid #fff; transition: all 0.3s ease;}
.mes-activo, .meses li a:hover{border-bottom: 3px solid #FA9917 !important; color:#FA9917 !important; display: inline-block;padding: 0 0 6px; text-decoration: none;}
.body-calendario{padding: 32px;}
.body-calendario th, .body-calendario td{text-align: center; padding: 16px;}
.body-calendario th{font-size: 20px; color:#5C6BC0; font-weight: 400;}
.body-calendario td{font-size: 18px; font-weight: 300;}
.dia-desactivado{color:#B8B8B8;}
/************************************************************ CALENDARIO ************************************************************/


/************************************************************ BOTONES ************************************************************/
button{border-radius: 3px; border-style: solid; border-width: 1px; background-color: transparent; padding: 0 16px 0 10px; transition: all 0.3s ease;}
button img, button hr, button span{display: inline-block; vertical-align: middle;}
button img{width: 14px; margin-right: 10px;} button hr{width: 1px; height: 32px; margin: 0; margin-right: 12px;}

.agregar-sesion{border-color: #fff; } .agregar-sesion hr{background-color: #fff; } .agregar-sesion:hover,.agregar-sesion:focus{background-color: rgba(255,255,255,0.10)}
/************************************************************ BOTONES ************************************************************/



/******************************************************** ESTILOS MEDIA QUERY RESPONSIVE  ********************************************************/
@media  (max-width: 1199px){
}

@media  (max-width: 991px){
}

@media  (max-width: 767px){
	.sidenav {width:0px;}
	.indicadores a{margin:15px 0;}
}


@media screen and (max-height: 795px) {
	.opcion-extra{position: relative;}
}

@media screen and (max-height: 280px) {
	.indicadores{display: none;}
}
